<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Register</title>
  </head>
  <body>
    <h1>Form Register Employee</h1>
    <div>
      <form action="/register" method="post">
        <label for="firstname">First Name</label>
        <br />
        <input
          type="text"
          name="firstname"
          placeholder="Input your First Name plox"
        />
        <br />

        <label for="lastname">Last Name</label>
        <br />
        <input
          type="text"
          name="lastname"
          placeholder="Input your Last Name plox"
        />
        <br />

        <label for="email">Email</label>
        <br />
        <input type="email" name="email" placeholder="Input your Email plox" />
        <br />

        <label for="password">Password</label>
        <br />
        <input
          type="password"
          name="password"
          placeholder="Input your Password plox"
        />
        <br />
        <br />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
