<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table Register 88 Office</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>

      <tbody>
        <% people.forEach((people) => { %>
        <tr>
          <td><%= people.firstname %></td>
          <td><%= people.lastname %></td>
          <td><%= people.email %></td>
          <td><%= people.password %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
